.c-search-block-page {
    cursor: default;
}
.c-search-block-sub {
    color: black;
    font-size: 10px;
    font-weight: 600;
    text-align: end;
    margin-right: 15px;
}
.c-search-block-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.c-search-block-new {
    cursor: pointer;
    background-color: #6082B6;

    font-size: 24px;
    font-weight: 500;
    color: whitesmoke;
    border: none;
    padding: 5px;
    width: 20%;
    border-radius: 20px;
    margin-top: 10px;
}
.c-search-block-new:hover {
    background-color: #0047AB;
    font-weight: 600;
}