.c-search-question-container {
    width: 98%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
.c-search-question-question {
    background-color: rgb(223, 226, 229);
    display: flex;
    flex-direction: column;
    width: 50%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
}

.c-search-question-answer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.c-search-question-answer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}
#c-search-question-answer-text {
    color: black;
    font-weight: 500;
    font-size: 14px;
    padding: 10px;
    border-radius: 50px;
    width: 20%;
    text-align: center;
    background-color: #FFF8DC;
}
#c-search-question-answer-text:hover {
    cursor: pointer;
    font-weight: 600;
    background-color: #EADDCA;
}

.c-search-question-answer-selection {
    background-color: rgb(223, 226, 229);
    border-radius: 15px;
    border: none;
    padding: 20px;
    flex-grow: 1;
    font-weight: 500;
    font-size: 14px;
}