.c-search-block-submit {
    cursor: pointer;
    background-color: #6082B6;

    font-size: 14px;
    font-weight: 500;
    color: whitesmoke;
    border: none;
    padding: 12px;
    width: 100%;
    margin-top: 20px;
}
.c-search-block-submit:hover {
    background-color: #0047AB;
    font-weight: 600;
}