.c-adoption-page {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.c-adoption-menu {
  background-color: rgb(245, 245, 245);
  width: 25%;
  height: 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;

  overflow: hidden;
}

.c-adoption-text {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#c-adoption-text {
  text-align: center;
  color: black;
  font-size: 14px;
}

.c-adoption-text:hover {
  cursor: pointer;
  background-color: rgb(179, 194, 208);
}

.c-adoption-list {
  background-color: rgb(245, 245, 245);
  padding: 25px;
  margin-top: 30px;
  border-radius: 20px;
  /* flex-grow: 1; */
  height: 80%;
  overflow-y: auto;
}

.c-adoption-card {
  background-color: rgb(233, 229, 229);
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.c-adoption-card:hover {
  transform: scale(1.002);
  background-color: rgb(179, 194, 208);
}

#c-adoption-img {
  height: 200px;
  width: 25%;
  object-fit: cover;
}

.c-adoption-card-content {
  width: 70%;
  padding-left: 30px;
}

#c-adoption-card-text {
  text-align: left;
  color: black;
  font-size: 13px;
}

#c-adoption-card-description {
  text-align: left;
  color: black;
  font-size: 14px;
}