.hey-pet-menu {
  background-color: rgb(37, 43, 55);
  width: 17%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hey-pet-logo {
  height: 50px;
  border-radius: 25px;
  padding: 15px;
}

.hey-pet-menu-container {
  flex-grow: 1;
  width: 90%;
  margin-top: 20px;
}

.hey-pet-menu-index {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
}

#hey-pet-index-icon {
  height: 18px;
  padding: 10px;
}

#hey-pet-index-lable {
  font-size: 12px;
  font-weight: 300;
}

.hey-pet-menu-index:hover {
  background-color: rgb(56, 62, 73);
  cursor: pointer;
}

#hey-pet-menu-website {
  background-color: rgb(175, 117, 64);
  color: black;
  padding: 5px;
  border-radius: 15px;
  font-size: 12px;
  width: 50%;
  text-align: center;
}

#hey-pet-menu-website:hover {
  background-color: rgb(205, 159, 74);
  cursor: pointer;
}