.about-container {
  background-color: rgb(29, 30, 43);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.imgs-about-container, .text-about-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#about-text-01 {
  height: 90px;
  text-align: center;
  padding-top: 25px;
  width: 25%;
  margin-right: 10px;

  font-size: 36px;
}

#about-img-01 {
  height: 400px;
  object-fit: cover;
  width: 25%;
  margin-right: 10px;
}

#about-text-02 {
  padding-top: 10px;
  width: 55%;
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5;
  font-weight: 300;
  font-size: 15px;
}

#about-img-02 {
  height: 400px;
  width: 55%;
  object-fit: cover;
}

@media(max-width: 930px) {
  .text-about-container {
    flex-direction: column;
  }

  #about-text-01 {
    font-size: 16px;
    height: auto;
    text-align: center;
    padding: 10px;
    width: 50%;
    margin-right: 0px;
  }

  #about-text-02 {
    padding: 15px;
    width: 90%;
    font-size: 12px;
  }

  #about-img-01 {
    display: none;
  }
  #about-img-02 {
    width: 95%;
    height: 250px;
    border-radius: 25px;
  }
}