
/* Contact Icons */
.contact-container {
  display: flex;
  align-items: center;
}

.contact-icon {
  /* background-color: gray; */
  border-radius: 20px;
  padding: 8px;
  cursor: pointer;
  height: 35px;
}

.contact-icon:hover {
  background-color: rgb(29, 30, 43);
  transform: scale(1.08);
}
