:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.3;
  font-weight: 400;

  background-color: #000;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}


h1, h2, h3, h4, p {
  margin: 0;
  color: white;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.2em;
}

h3, p {
  font-size: 1.1em;
}

h4 {
  font-size: 0.85em;
}

/* .page {
  width: 100vw;
  height: 100svh;

  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* 
height:  
  100vh
  100svh
  100dvh
*/
