.mobile-title-container {
  display: none;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

#mobile-title {
  color: white;
  font-size: 26px;
  font-weight: 500;
}

@media (max-width: 425px) {
  .mobile-title-container {
    display: block;
  }
}