.project-card {
    padding: 30px;
    display: flex;
    justify-content: center;
    margin: 30px 0px 10px 0px;
}

.project-container {
    width: 65%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project-presentation {
    background-color: rgb(29, 30, 43);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

#project-icon {
    width: 150px;
    object-fit: cover;
}

#project-name {
    font-size: 20px;
    margin-bottom: 10px;
}

.project-info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

#project-about {
    text-align: justify;
    line-height: 1.6;
    font-size: 14px;
}

#project-topics {
    background-color: rgb(29, 30, 43);
    border-radius: 10px;
    font-size: 14px;
    padding: 8px;
    margin-right: 10px;
}

.project-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.project-stat {
    display: flex;
    flex-direction: row;
}

#project-topic {
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.project-stores {
    display: flex;
    justify-content: end;
    align-items: center;
}

#project-store {
    cursor: pointer;
    margin-left: 15px;
    height: 35px;
}

#project-store:hover {
    transform: scale(1.05);
}
