.grid-cointainer {

  display: grid;
  place-items: center;
  width: 100vw;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-icon {
  height: 150px;
}

#error-text {
  font-size: 0.8rem;
}

#go-back-text {
  cursor: pointer;
  color: rgb(164, 130, 230);
  font-size: 0.85rem;
  text-decoration: underline;
}